.client-page-header-wrapper {
    height: 120px;
    background-color: #131313;
    padding: 36px 50px 0px 50px;
    text-align: left;
    border-bottom: 1px #fff solid;
}

.client-page-header-title {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    line-height: 48px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    height: auto;
    letter-spacing: 0.5px;
}

.client-bars-icon {
    color: #fff !important;
    font-size: 21px;
    margin-right: 5px;
}