.client-list-wrapper { 
    padding: 30px 50px;
    background-color: #111412;
    height: 100%;
}

.client-list-header {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff;
}

.ant-table-content {
    overflow-x: scroll;
}

/* .ant-table-thead {
    background-color: #898a89 !important;
} */

.ant-table-cell {
    background-color: #111412 !important;
}

.client-name-column {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #337ab7;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    letter-spacing: 0.015em;
}

.client-region-column {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #979797;
    text-transform: none;
    letter-spacing: 0.015em;
}

.client-area-column {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #979797;
    text-transform: none;
    letter-spacing: 0.015em;
}

.client-last-active-column {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #469649;
    text-transform: none;
    letter-spacing: 0.015em;
}
